:root {
    --primary-color: #434455;
    --dark-color: #2E2F42;
    --brand-color: #4D5AE5;
    --accent-color: #E7E9FC;
    --white-color: #FFFFFF;
    --light-color: #F4F4FD;
    --active-color: #404BBF;
    --success-color: #31D0AA;
    --light-slate: #8E8F99;
    --indent-item: 32px;
    --margin-card: 24px;
    --indent-text: 16px;
    --small-indent: 8px;
    --transition-base: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

h1,
h2,
h3,
p {
margin: 0;
}

ul {
    margin: 0;
    padding-left: 0;
}

img {
    display: block;
}

.list {
    list-style: none;
}

.link {
    color: inherit;
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

body {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    color: var(--primary-color);
    font-weight: 400;
    letter-spacing: 0.02em;
    background-color: var(--white-color);
}

.container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.section {
padding-top: 120px;
padding-bottom: 120px;
}

.section-title {
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    text-transform: capitalize;
    color: var(--dark-color);
}

.title {
    font-size: 20px;
    line-height: 1.2;
    color: var(--dark-color);
}

.text {
    margin-top: var(--small-indent);

    line-height: 1.5;
}

.button {
    font-family: inherit;
    line-height: 1.19;
    letter-spacing: 0.04em;
    border-radius: 4px;
    cursor: pointer;
}

.icon-social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.list-item-social-link {
    width: 40px;
    height: 40px;
}

/* Header */

.header-container {
    display: flex;
}

.page-header {
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

nav {
display: flex;
}

.page-header .link {
    display: block;
    padding-top: var(--margin-card);
    padding-bottom: var(--margin-card);
}

.logo {
    margin-right: 77px;
    
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--brand-color);
}

.part-logo-header {
    color: var(--dark-color);
}

.menu {
    display: flex;

    font-weight: 600;
    line-height: 1.5;
    color: var(--dark-color);
}

.menu-item {
    transition: color var(--transition-base);
    position: relative;
}

.menu-item:hover,
.menu-item:focus {
    color: var(--primary-color);
}

.menu-item:not(:last-child) {
    margin-right: 40px;
}

.current {
    color: var(--active-color);
}

.current::after {
position: absolute;
bottom: 0;

content: '';

display: block;
width: 100%;
height: 4px;
border-radius: 2px;

background-color: var(--active-color);
}

.menu-item:active {
    color: var(--brand-color);
}

.contacts-list {
    display: flex;
    margin-left: auto;
}

.list .contacts + .contacts {
    margin-left: 40px;
}

.contacts {
    font-weight: 400;
    line-height: 1.5;

    transition: color var(--transition-base);
}

.contacts:hover,
.contacts:focus {
    color: var(--brand-color);
    
}

/* Hero */

.hero {
    max-width: 1440px;
    margin: 0 auto;
    padding: 192px 0;
    text-align: center;

    background-size: cover;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
    ),
    url(../images/studio/hero-bgr-image.jpg);
    background-color: #2E2F42;
}

.hero .container {
    padding-left: 333px;
    padding-right: 333px;
}

.hero-title {
    margin-bottom: 48px;

    font-size: 56px;
    line-height: 1.07;
    color: var(--white-color);
    text-transform: capitalize;
}

.part-hero-title {
text-transform: lowercase;
}

.hero-btn {
    padding: var(--indent-text) var(--indent-item);

    text-transform: capitalize;
    color: var(--white-color);
    background-color: var(--brand-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    transition: box-shadow var(--transition-base);
}

.hero-btn:hover,
.hero-btn:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.button:active {
    background-color: var(--active-color)
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* Features */

.features-list {
    display: flex;
    justify-content: space-between;
}

.features-list-item {
width: calc(100% / 3 - var(--margin-card));
}

.features-list-item:not(:last-child) {
    margin-right: var(--margin-card);
}

.features-list-icon {
    padding: 24px 100px;
    margin-bottom: var(--small-indent);
    border-radius: 4px;

    background-color: var(--light-color);
}

/* Gallery */

.gallery.section {
    padding-top: 0;
}

.gallery-list {
    display: flex;
    justify-content: center;
    margin-top: 72px;
}

.gallery-list-img:not(:last-child) {
    margin-right: var(--margin-card);
}

/* Team */

.team-section {
    background-color: var(--light-color);
}

.team-list {
    display: flex;
    justify-content: space-between;
    margin-top: 72px;
}

.team-list-card {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}

.team-list-card:not(:last-child) {
    margin-right: var(--margin-card);
}

.team-list-description {
    padding: var(--indent-item) var(--indent-text);
    text-align: center;
    
    background-color: var(--white-color);
}

.team-list-title {
    margin-bottom: var(--small-indent);
}

.team-list-social-link {
    display: flex;
    justify-content: space-between;
    margin-top: var(--small-indent);
}

.team-icon-social-link {
    background-color: var(--brand-color);

    transition: background-color var(--transition-base);
}

.team-icon-social-link:hover,
.team-icon-social-link:focus {
    background-color: #31D0AA;
}

/* Customers */

.customers-list {
    display: flex;
    justify-content: space-between;
    margin-top: 72px;
}

.customers-list-item {
    width: 168px;
    height: 88px;
    border: 1px solid var(--light-slate);
    border-radius: 4px;
}

.customers-list-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    color: var(--light-slate);

    transition: border var(--transition-base);
}

.customers-list-link:hover,
.customers-list-link:focus {
    border: 1px solid var(--active-color);
}

.customers-list-icon {
    fill: currentColor;

    transition: fill var(--transition-base);
}

.customers-list-link:hover .customers-list-icon,
.customers-list-link:focus .customers-list-icon {
    fill: var(--active-color);
}

/* Footer */

.footer {
    padding-top: 100px;
    padding-bottom: 100px; 

    background-color: var(--dark-color);
}

.footer-container {
    display: flex;
}

.part-logo-footer {
    color: var(--white-color);
}

.footer-text {
    width: 264px;
    margin-top: var(--indent-text);

    color: var(--accent-color);
}

.social-media {
    margin-left: 120px;
}

.social-media-title {
margin-bottom: var(--indent-text);  

font-weight: 600;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--white-color);
}

.social-media-list {
    display: flex;
}

.social-media-list > .list-item-social-link + .list-item-social-link {
    margin-left: var(--indent-text);
}

.social-media-link {
    background-color: rgba(255, 255, 255, 0.1);

    transition: background-color var(--transition-base);
}

.social-media-link:hover,
.social-media-link:focus {
    background-color: var(--success-color);
}

/* Portfolio */

.portfolio-section {
    padding-top: 96px;
}

.filter-list{
    display: flex;
    justify-content: center;
    margin-bottom: 72px;
}

.filter-list-item:not(:last-child) {
    margin-right: var(--margin-card);
}

.filter-btn {
    padding: var(--small-indent) var(--indent-text);

    font-size: 16px;
    line-height: 1.5;
    color: #4D5AE5;
    background-color: var(--light-color);
    border: 1px solid #E7E9FC;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color var(--transition-base), box-shadow var(--transition-base);
}

.filter-btn:hover, 
.filter-btn:focus {
    color: var(--white-color);
    background-color: var(--brand-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: -48px;
    margin-right: calc(-1 * var(--margin-card));
}

.portfolio-list-card {
margin-top: 48px;
margin-right: var(--margin-card);

background: var(--white-color);
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.portfolio-list-link {
    display: block;

    transition: box-shadow var(--transition-base);
}

.portfolio-list-link:hover,
.portfolio-list-link:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-list-thumb {
position: relative;

overflow: hidden;
}

.portfolio-thumb-text {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    padding: 40px 32px 0 32px;
    transform: translateY(100%);

    background-color: rgba(77, 90, 229, 1);
    color: var(--light-color);
    line-height: 1.5;

    transition: transform var(--transition-base);
}

.portfolio-list-link:hover .portfolio-thumb-text,
.portfolio-list-link:focus .portfolio-thumb-text {
    transform: translateY(0);
}

.portfolio-list-item {
    padding-top: var(--indent-item);
    padding-bottom: var(--indent-item);
    padding-left: var(--indent-text);
    border: 0.5px solid var(--light-color);
    border-top: none;
}

.portfolio-list-text {
margin-top: var(--small-indent);
}

/* Modal window */

.backdrop {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);

    opacity: 1;
    transition: opacity var(--transition-base);
}

.backdrop.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(1.1);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);

    min-width: 408px;
    min-height: 576px;
    background-color: var(--white-color);
    transition: transform var(--transition-base), opacity var(--transition-base);
}

.modal-button {
  position: absolute; 
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  
  width: 24px;
  height: 24px;
  padding: 0;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--accent-color);

  cursor: pointer;
}